/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {
width: 100%;
background-color: #F7EDE2;
font-family: 'Righteous', cursive;
}

header {
    background-image: white;
    object-fit:fill;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    padding-top: 5px;
}
h1 {
    font-weight: 400;
}
button {
    background-color: #F5CAC3;
    text-align: center;
    border-style: none;
    margin: 5px;
    padding: 10px;
   color: black;
}
button:hover {
    background-color: #F9D79F;
}
p {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
    padding: 10px;
}
nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: #F5CAC3;
    text-align: center;
    padding: 3px;
    color: black;
    
}
div#viewer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
margin-top: 1px;
}
section {
   border-radius: 10px;
    text-align: center;
  /*  padding-left: 50px;*/
    padding:20px;
    margin: 30px;
    background-color: #C5E6E8;
   
}
img {
    width: 300px;
}
li::marker {
    content: "\273F"; /*\2740 273F*/
}

footer {
    background-color: #AEC596;
    position: absolute;
    bottom: -780px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}