@media only screen and (min-width: 60rem) {

    section#about h1 {
        font-size: 5rem;
        color: #BF2C47;
        font-family: 'climate crisis';
    }
    section#about h2 {
        font-size: 3rem;
        color: black;
        font-family: 'montserrat';
    }
    div.theParent a {
        flex-basis: 33.33%;
    }

} /* end media query*/